<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Dato</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="./home">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="./home">Notification</a>
        </li>
				<li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="./about">About</a>
        </li>
				<li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="./home">Switch account</a>
        </li>
      </ul>
        
      <!-- <form class="d-flex" style="margin-right: 10px;">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success mr-2" type="submit">Search</button>
      </form> -->
						<button class="btn btn-primary ml-2" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>